.menu {
  margin: 0;
  padding: 1rem;
  list-style: none;
  font-size: 1.6rem;

  li {
    display: inline;
    border-left: 1px solid #999;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s;

    &:first-child {
      border-left: none;
    }
  }
}

@mixin item-button() {
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 8px;
  transition: all 0.2s;
  color: white;
}


.add-menu {
  @include item-button;
  background: rgba(0, 0, 255, 0.8);

  &:hover {
    font-weight: 700;
    background: darken($color: rgb(103, 103, 247), $amount: 10%);
  }

  &:active {
    transform: translateY(3px);
  }

}

.new-menu {
  @include item-button;
  margin-left: -53px;
  margin-right: 5px;
  background: rgba(199, 164, 11, 0.8);

  &:hover {
    font-weight: 700;
    background: darken($color: rgba(215, 243, 55, 0.836), $amount: 10%);
  }

  &:active {
    transform: translateY(3px);
  }

}