.menu {
  margin: 0;
  padding: 1rem;
  list-style: none;
  font-size: 1.6rem;

  li {
    display: inline;
    border-left: 1px solid #999;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s;

    &:first-child {
      border-left: none;
    }

    &:hover {
      color: aqua;
    }
  }
}

.add-menu {
  position: fixed;
  top: 18%;
  left: 16.2%;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(0, 0, 255, 0.8);
  color: white;
  transition: all 0.2s;

  &:hover {
    font-weight: 700;
    background: darken($color: #00d, $amount: 10%);
  }

  &:active {
    transform: translateY(3px);
  }

}