.App {
  width: 760px;
  margin: 0 auto;
  padding: 2rem;
  color: white;
  background-color: rgba($color: #333, $alpha: 0.3);
  border: 1px solid rgba($color: #eee, $alpha: 0.3);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba($color: #eee, $alpha: 0.3);
}