@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400,500,700|Cute+Font&display=swap');

* {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: 'Cute Font', cursive;
}

body {
  margin: 0;
  padding: 0;
  background: url('./mojave_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-position-x: relative
}